PUID={{ ansible_user_gid }}
PGID={{ ansible_user_uid }}
TZ="{{ timezone }}"
CF_API_EMAIL="{{ cf_api_email }}"
CF_DNS_API_TOKEN="{{ cf_dns_api_token }}"
DOMAIN_NAME="{{ domain_name }}"
MY_EMAIL_ADDRESS="{{ my_email_address }}"


########### SMPT
SMTP_HOST="{{ smtp_host }}"
SMTP_PORT="{{ smtp_port }}"
SMTP_USERNAME="{{ smtp_username }}"
SMTP_PASSWORD="{{ smtp_password }}"
