---
version: "3.9"

services:
    nginx:
        image: lscr.io/linuxserver/nginx:latest
        container_name: nginx
        environment:
            - "TZ=${TZ:?err}"
            - "PUID=${PUID:?err}"
            - "PGID=${PGID:?err}"
        volumes:
            - {{ docker_dir }}/web/nginx:/config
            - {{ nginx_log_location }}:/config/log/nginx/
        ports:
            - 8880:80
        restart: unless-stopped
        networks:
            traefik_proxy:
                ipv4_address: 192.168.90.10
        labels:
            - "traefik.enable=true"
            - "traefik.http.routers.nginx.rule=Host(`production.{{ domain_name }}`,`staging.{{ domain_name }}`)"
            - "traefik.http.routers.nginx.entrypoints=web,websecure"
            - "traefik.http.routers.nginx.tls.certresolver=letsencrypt"
            - "traefik.http.routers.nginx.middlewares=chain-authelia@file"

networks:
    traefik_proxy:
        name: traefik_proxy
        external: true
