ADMIN_USER_EMAIL={{ plausible_admin_user_email }}
ADMIN_USER_NAME={{ plausible_admin_username }}
ADMIN_USER_PWD={{ plausible_admin_password }}
BASE_URL={{ plausible_base_url }}
SECRET_KEY_BASE={{ plausible_secret_key_base }}
DISABLE_REGISTRATION=true
MAILER_EMAIL={{ plausible_admin_user_email }}
SMTP_HOST_ADDR={{ smtp_host }}
SMTP_HOST_PORT={{ smtp_port }}
SMTP_USER_NAME={{ smtp_username }}
SMTP_USER_PWD={{ smtp_password }}
SMTP_HOST_SSL_ENABLED=true
